<footer class="footer">

  <div class = "footer__weather-cards">
    <div class="tempround"></div>
    <div class="city">Port-Louis, Mauritius</div>
    <div id="dateonly">Thursday</div>
    <div class ="temp">15<span>°C</span></div><div class="weather">Sunny</div>
    <div class="hi-low">13°c / 16°c</div>
  </div>

  <div class="links">

    <div class="city2">
      <a href="complaint.php">Lodge a complaint</a><br/>
      <a href="AboutUs.php">Meet the team</a><br/>
      <a href="usereviews.php">Check User Reviews</a><br/>
      <a href="loginform.php">Login</a><br/>
    </div>
  </div>
</footer>
