<span class ="container">
<div id="heading">
 Meet the DESIGNERS
</div>
<div id="rowcard1">
   <div class="card-wrap">
   <div class="card">
       <img src="artwrk/nat-2.jpg" alt="card background" class="class-img">
       <img src="artwrk/profilepicture.jpg" alt="profile picture" class="profile-img">
       <h1>Pranav Kumar Dulthummon</h1>
       <p class="job-title">Full stack developer</p>
       <p class="about">
           A hardworking,great web designer passionate about his work
       </p>
       <div class="social-buttons">
			  <a href="https://www.facebook.com/Worlds.Most.Motivated.Disciple"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
     </div>
     </div>
   </div></div>
  <div id="rowcard2">
    <div class="card-wrap">
   <div class="card">
       <img src="artwrk/nat-2.jpg" alt="card background" class="class-img">
       <img src="artwrk/profilepicture.jpg" alt="profile picture" class="profile-img">
       <h1>Hansheet Auchraje</h1>
       <p class="job-title">Greatest programmer</p>
       <p class="about">
           The world's greatest programmer ever born, reborn or reincarnated.
       </p>
       <div class="social-buttons">
			  <a href="https://www.facebook.com/Worlds.Most.Motivated.Disciple"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
     </div>
     </div>
   </div>
</div>
<div id="rowcard3">
     <div class="card-wrap">
   <div class="card">
       <img src="artwrk/nat-2.jpg" alt="card background" class="class-img">
       <img src="artwrk/profilepicture.jpg" alt="profile picture" class="profile-img">
       <h1>University of Mauritius</h1>
       <p class="job-title">Back end programmer</p>
       <p class="about">
           Working until blood, sweat and tears falling.
       </p>
       <div class="social-buttons">
			  <a href="https://www.facebook.com/Worlds.Most.Motivated.Disciple"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
     </div>
     </div>
   </div>
</div>
</span>
